<div class="row">
  <div class="col-md-12">
    <h1>Tasks</h1>

    <form id="search-form">
        <md-input-container class="search-form-input-container">
          <input mdInput name="term" type="search" id="search" #newTask newTask.value='' placeholder="Type here to search for a task or create one" [(ngModel)]="term">
        </md-input-container>

        <button md-raised-button color="primary" (click)="postNewTask(newTask.value)" >+ Create</button>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Tasks</h2>

    <div class="row">
      <div *ngFor="let task of apiService.tasks | filter:term; index as i">
          <app-task-element class="task-element-container" [task]="task"></app-task-element>
      </div>
    </div>

    <div *ngIf="apiService.tasks.length < 1">
      <p>There are no tasks yet. Create one by typing the tasks name and clicking on "Create"</p>
    </div>
  </div>
</div>
