<div class="dialog-details">
  <h1>Details for Project {{project.name}}</h1>

  <p>You've spent <strong>{{totalTime() | duration}}</strong> on this project.</p>

  <md-tab-group class="trackr-tab-group">
    <md-tab>
      <ng-template md-tab-label>
        <md-icon class="tab-icon" md-label-icon>list</md-icon> Tasks
      </ng-template>
      <md-list>
        <h3 md-subheader>Tasks</h3>

        <md-list-item *ngIf="tasks && tasks.length < 1">There are no tasks in this project</md-list-item>

        <md-list-item *ngFor="let task of tasks">
          <h4 md-line>{{task.name}}</h4>
          <p md-line>{{task.description || 'No description'}}</p>
          <p md-line>{{task.total | duration}} total time</p>
          <p md-line><button md-raised-button color="warn" (click)="removeTask(task._id)"><i class="fa fa-trash"></i> Remove from project</button></p>
        </md-list-item>
      </md-list>
    </md-tab>
    <md-tab>
      <ng-template md-tab-label>
        <md-icon class="tab-icon" md-label-icon>show_chart</md-icon> Statistics: Chart View
      </ng-template>
      <md-list>
        <h3 md-subheader>Statistics: Chart View</h3>

        <md-list-item *ngIf="tasks && tasks.length < 1">There are no tasks in this project</md-list-item>

        <div *ngIf="tasks && tasks.length > 0" id="line_chart" [chartData]="line_ChartData" [chartOptions]="line_ChartOptions" chartType="LineChart" GoogleChart></div>
      </md-list>
    </md-tab>
    <md-tab>
      <ng-template md-tab-label>
        <md-icon class="tab-icon" md-label-icon>redo</md-icon> Edit details
      </ng-template>
      <h3>Edit details</h3>
      <md-input-container class="trackr-half-width-container">
        <input placeholder="Name" mdInput type="text" name="name" [(ngModel)]="project.name">
      </md-input-container>

      <md-input-container class="trackr-half-width-container">
        <input placeholder="Description" mdInput type="text" [(ngModel)]="project.description">
      </md-input-container>

      <div>
        <button md-button md-raised-button color="primary" (click)="save()">Save Project</button>
      </div>
    </md-tab>
  </md-tab-group>
</div>

