<div class="row">
  <div class="col-md-12">
    <h1>Projects</h1>

    <form id="search-form">
        <md-input-container class="search-form-input-container">
          <input mdInput name="term" type="search" id="search" #newProject newProject.value='' placeholder="Type here to search for a project or create one" [(ngModel)]="term">
        </md-input-container>

        <button md-raised-button color="primary" (click)="postNewProject(newProject.value)" >+ Create</button>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Your Projects</h2>

    <div class="row">
      <div *ngFor="let project of apiService.projects | filter:term; index as i">
        <app-project-element [project]="project" [tasks]="filteredTasks(apiService.tasks, project._id)"></app-project-element>
      </div>
    </div>

    <div *ngIf="apiService.projects.length < 1">
      <p>There are no projects yet. Create one by typing the projects name and clicking on "Create"</p>
    </div>
  </div>
</div>
