<div class="row">
  <div class="col-md-12">
    <h1>Statistics</h1>

    <p>You have {{apiService.tasks.length}} tasks and {{apiService.projects.length}} projects.</p>

    <md-tab-group class="trackr-tab-group">
      <md-tab>
        <ng-template md-tab-label>
          <md-icon class="tab-icon" md-label-icon>list</md-icon> Tabular View
        </ng-template>

        <div *ngIf="apiService.tasks.length < 1">
          <h2>No Tasks found</h2>
          <p>There are no tasks yet. <a routerLink="/task-list">Create a task</a></p>
        </div>

        <md-list *ngIf="apiService.tasks.length > 0">
          <h3 md-subheader>Tasks</h3>
          <md-list-item *ngFor="let task of apiService.tasks">
            <md-icon md-label-icon>label</md-icon>
            <h4 md-line>{{task.name}}</h4>
            <p md-line>{{task.description || 'No description'}}</p>
            <p md-line>{{task.total | duration}}</p>
          </md-list-item>
          <md-divider></md-divider>
          <h3 md-subheader>Projects</h3>
          <md-list-item *ngFor="let project of apiService.projects">
            <md-icon md-label-icon>label</md-icon>
            <h4 md-line>{{project.name}}</h4>
            <p md-line>{{project.description || 'No description'}}</p>
            <p md-line>{{project.tasks.length}} task(s)</p>
          </md-list-item>
        </md-list>
      </md-tab>
      <md-tab>
        <ng-template md-tab-label>
          <md-icon class="tab-icon" md-label-icon>show_chart</md-icon> Chart View
        </ng-template>

        <div *ngIf="apiService.tasks.length < 1">
          <h2>No Tasks found</h2>
          <p>There are no tasks yet. <a routerLink="/task-list">Create a task</a></p>
        </div>

        <div *ngIf="apiService.tasks.length > 0" id="pie_chart" [chartData]="pie_ChartData" [chartOptions] = "pie_ChartOptions" chartType="PieChart" GoogleChart></div>
      </md-tab>
    </md-tab-group>
  </div>
</div>
