<md-card class="example-card">
  <md-card-title class="example-card-title">{{task.name}}</md-card-title>
  <div class="fa fa-play btn btn-default btn-start" aria-hidden="true" *ngIf="startbtn" (click)="start(); startbtn =false; pausebtn=true;"></div>
  <div class="fa fa-pause btn btn-default btn-start" aria-hidden="true" *ngIf="pausebtn" (click)="pause(); startbtn =true; pausebtn=false;"></div>
  <md-card-content class="example-card-content">
    <p>{{(totaltime)/1000}} s</p>
  </md-card-content>
  <md-card-actions>
    <button md-raised-button md-button class="example-card-button" (click)="openDetails()" >Details</button>
    <button *ngIf="task.project != undefined" md-raised-button md-button class="example-card-button" (click)="removeFromProject()" >Remove from project</button>
  </md-card-actions>
</md-card>
