.example-card {
  border-radius: 25px;
  width: 300px;
  height: 200px;
  background-color: #FF650F;
  margin: 30px 30px 30px 30px;
  border: 1px solid #000;
}
.example-card-button{
  border-radius: 35px;
  background-color: white;
  text-align: center;
  font-size: 15pt;
  font-family: sans-serif;
  width: 300px;
  border: 1px solid #000;
  position: fixed;
  bottom: 40px;
  left: 55px;
}
.example-card-title{
  width: 347px;
  height: 50px;
  border-radius: 25px;
  background-color: grey;
  text-align: center;
  font-size: 25pt;
  border: 1px solid #000;
  color: white;
  position: fixed;
  top: 21px;
  left: 31px;
}
.example-card-content{
  position: absolute;
  text-align: center;
  font-size: 25pt;
  vertical-align: middle;
  top:100px;
  left: 100px;
}
.btn-start{
  left:10px;
  top:70px;
  position: relative;
  font-size: 40pt;
  background-color:transparent;
}

/* for ngIf*/
.card-detaisls{
  border-radius: 25px;
  width: 300px;
  height: 200px;
  background-color: darkgray;
  margin: -180px -30px -100px -25px;
  border: 1px solid #000;
}
