<md-card class="example-card">
  <md-card-title class="example-card-title">{{task.name}}</md-card-title>
  <div class="fa fa-play btn btn-default btn-start" aria-hidden="true" *ngIf="startbtn" (click)="start(); startbtn =false; pausebtn=true;"></div>
  <div class="fa fa-pause btn btn-default btn-start" aria-hidden="true" *ngIf="pausebtn" (click)="pause(); startbtn =true; pausebtn=false;"></div>
  <md-card-content class="example-card-content">
    <p>{{(totaltime)/1000}} s</p>
  </md-card-content>
  <md-card-actions><button md-button class="example-card-button" (click)="show = !show">Details</button></md-card-actions>
  <br>
  <div *ngIf="show">
    <md-card class="card-detaisls">
      description = {{task.description}}
      <br>
      totaltime = {{(totaltime)/1000}} s <br>
      Intevals: <br>
      <div *ngFor="let inter of task.interval |filter:term; index as i">
          {{inter.startDate}} bis {{inter.stopDate}}
      </div>
    </md-card>
  </div>
</md-card>
