<input class="input-filter" type="search" id="search" #newTask newTask.value=''
       placeholder="Tippe hier, um eine Aufgabe zu suchen oder zu erstellen" [(ngModel)]="term">
<button class="plus-create" (click)="postNewTask(newTask.value)" >+Erstellen</button>

<div class="col-md-12 col-sm-12 col-xs-12 no-project">
  <h2>Your projects</h2>
  <div *ngFor="let project of projects |filter:term; index as i">
    <div class="card-float-left" [@projectState]="project.statusVal">
      <app-project-element [project]="project" [tasks]="tasks" ></app-project-element>
    </div>
  </div>
</div>


<div class="col-md-12 col-sm-12 col-xs-12 no-project">
  <h2>Tasks without projects</h2>
  <div *ngFor="let task of tasks |filter:term; index as i">
    <div class="card-float-left" [@projectState]="task.statusVal">
      <app-task-element [task]="task" ></app-task-element>
    </div>
  </div>
</div>




<!--<app-task-element [task]="task" (click)="deleteTask(i,task._id)"></app-task-element>-->
