.card-float-left{
  float: left;
}

.input-filter{
  width: 70%;
  height: 70px;
  border: 2px solid #000;
  float: left;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 25px;
  font-size: 25pt;
  margin: 10px 10px 10px 10px;
  outline: 0 !important;
}

.plus-create{
  width: 15%;
  height: 70px;
  background-color: #FF650F;
  margin: 10px 10px 10px 10px;
  border: 1px solid #000;
  text-align: center;
  font-size: 25pt;
  border-radius: 25px;
  outline: 0 !important;
}
