<input class="input-filter" type="search" id="search" #newTask newTask.value=''
       placeholder="Tippe hier, um eine Aufgabe zu suchen oder zu erstellen" [(ngModel)]="term">
<button class="plus-create" (click)="postNewTask(newTask.value)" >+Erstellen</button>
<div *ngFor="let task of tasks |filter:term; index as i">
  <div class="card-float-left" [@projectState]="task.statusVal">
    <app-task-element [task]="task" ></app-task-element>
  </div>
</div>





<!--<app-task-element [task]="task" (click)="deleteTask(i,task._id)"></app-task-element>-->
