<div class="dialog-details">
  <h1>Details for Task {{task.name}}</h1>

  <p>You've spent <strong>{{task.total | duration}}</strong> on this task.</p>

  <div *ngIf="projects.length > 0">
    <p>The task is a part of the following projects: <span *ngFor="let project of projects" class="label label-default">{{project.name}}</span></p>
  </div>

  <md-tab-group class="trackr-tab-group">
    <md-tab>
      <ng-template md-tab-label>
        <md-icon class="tab-icon" md-label-icon>list</md-icon> Statistics: Tabular View
      </ng-template>
      <md-list>
        <h3 md-subheader>Intervals</h3>

        <md-list-item *ngIf="task.interval.length < 1">There are no intervals yet</md-list-item>

        <md-list-item *ngFor="let inter of task.interval">
          <md-icon md-label-icon>label</md-icon>
          {{inter.startDate | date: 'dd.MM.yyyy H:ss'}} bis {{inter.stopDate | date: 'dd.MM.yyyy H:ss'}}
        </md-list-item>
      </md-list>
    </md-tab>
    <md-tab>
      <ng-template md-tab-label>
        <md-icon class="tab-icon" md-label-icon>show_chart</md-icon> Statistics: Chart View
      </ng-template>
      <md-list>
        <h3 md-subheader>Statistics: Chart View</h3>

        <md-list-item *ngIf="task.interval.length < 1">There are no intervals yet</md-list-item>

        <div *ngIf="task.interval.length > 0" id="line_chart" [chartData]="line_ChartData" [chartOptions]="line_ChartOptions" chartType="LineChart" GoogleChart></div>
      </md-list>
    </md-tab>
    <md-tab>
      <ng-template md-tab-label>
        <md-icon class="tab-icon" md-label-icon>redo</md-icon> Edit details
      </ng-template>
      <h3>Edit details</h3>
      <md-input-container class="trackr-half-width-container">
        <input placeholder="Name" mdInput type="text" name="name" [(ngModel)]="task.name">
      </md-input-container>

      <md-input-container class="trackr-half-width-container">
        <input placeholder="Description" mdInput type="text" [(ngModel)]="task.description">
      </md-input-container>

      <div>
        <button md-button md-raised-button color="primary" (click)="save()">Save Task</button>
      </div>
    </md-tab>
  </md-tab-group>
</div>

