<div class="dialog-details">
  <h1> Details for Task: {{task.name}} </h1>
  <div>ID: {{task._id}}</div>

  <div>Name: <input type="text" name="name" [(ngModel)]="task.name">
    <button md-button (click)="save()">Save</button>
  </div>
  <div>Description:
    <textarea rows="4" cols="50" [(ngModel)]="task.description">
</textarea>
    <button md-button (click)="save">Save</button>
  </div>
  <div>
    <select name="intervalSelction" [(ngModel)]="selectedInterval" (change)="updateTime()">
      <option *ngFor="let inter of task.interval">
        {{inter.startDate}} bis {{inter.stopDate}}
      </option>
    </select>
    <!--<input type="text" name="changes" [(ngModel)]="task.interval[inter_index].changes">-->
    Time: {{intervalTime/1000}}s
  </div>

  Totaltime: {{task.totaltime/1000}}s
  <button md-button (click)="dialogRef.close()">Cancel</button>
</div>


<div id="line_chart" [chartData]="line_ChartData" [chartOptions]="line_ChartOptions" chartType="LineChart"
     GoogleChart></div>

<br><br><br>
<button md-button (click)="dialogRef.close()">Cancel</button>
<button md-button (click)="deleteTask(task._id) ; dialogRef.close()"  >Delete</button>

