<div class="dialog-details">
<h1> Details by Task: {{task.name}} </h1>
<h2> Description : {{task.description}} </h2>
<h2>
  <div *ngFor="let inter of task.interval ">
 Worked :  {{ inter.startDate | date:'medium' }} - {{ inter.stopDate | date:'medium' }}
  </div>
</h2>

</div>

<div id="scatter_chart" [chartData]="scatter_ChartData"  [chartOptions] = "scatter_ChartOptions" chartType="ScatterChart" GoogleChart></div>
<br><br><br>
<button md-button (click)="dialogRef.close()">Cancel</button>
<button md-button (click)="deleteTask(task._id) ; dialogRef.close()"  >Delete</button>

