<div class="dialog-details">
  <h1> Details for Task: {{task.name}} </h1>
  <div>ID: {{task._id}}</div>

  <div>Name: <input type="text" name="name" [(ngModel)]="task.name">
    <button md-button (click)="save()">Save</button>
  </div>
  <div>Description: <input type="text" name="description" [(ngModel)]="task.description">
    <textarea rows="4" cols="50" [(ngModel)]="task.description">
</textarea>
    <button md-button (click)="save">Save</button>
  </div>
  <div>
    <select name="intervalSelction">
      <option *ngFor="let inter of task.interval">
        {{inter.startDate}} bis {{inter.stopDate}}
      </option>
    </select>
    Time: {{intervalTime}}
  </div>

  Totaltime: {{task.totaltime/1000}}s
  <button md-button (click)="dialogRef.close()">Cancel</button>
</div>


<div id="scatter_chart" [chartData]="scatter_ChartData" [chartOptions]="scatter_ChartOptions" chartType="ScatterChart"
     GoogleChart></div>


